@font-face {
    font-family: "UD Digi Kyokasho NK-R";
    src: url("UDDigiKyokashoNK-R-03.ttf") format("truetype");
}

html, body {height: 100%}
body {
    background-image: linear-gradient(to bottom, rgb(23, 23, 23), rgb(32, 32, 32));
    color: white;
    font-family: "UD Digi Kyokasho NK-R";
    font-size: x-large;
}

pt {font-size: xx-large}
a {color: grey; text-decoration: none;}
a:hover {color: #d1d1d1;}
.space {margin-left: 25px}